body{
  background-color: #35465C;
  margin: 0px;
  font-family: sans-serif;
  text-align: center;
}

#header img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 10px;
  padding-bottom: 10px;
}

#items{
  position: relative;
  top: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

#search{
  width: 100%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#search input:nth-of-type(1){
  padding: 12px;
  width: 40%;
  border-radius: 3px;
  background-color: white;
}

#search input:nth-of-type(2){
  width: 100px;
	height: 38px;
  padding: 10px;
	background-color: #539bc9;
  border-radius: 3px;
  width: 80px;
  transition: all ease 0.2s;
  color: white;
  font: bold 16px Arial;
}

#search input:nth-of-type(2):hover{
  background-color: #4582a8;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border-top: 2px solid #7e96b9;
  border-bottom: 2px solid #7e96b9;
  display: inline-block;
  text-align: center;
}

li{
  display: inline-block;
  color: white;
  background-color: #0BBFFF;
  background-color: #35465C
}

.tagsubmit{
  position: relative;
  top: 40px;
  width: auto;
}

.submit{
  display : block;
  height : 100px;
  width: 150px;
  background: #35465C;

  border: none;
  color :white;
  text-align : center;
  font: bold 16px Arial;
}

input{
  width: 100%;
  border: 0px;
  background-color: rgba(255,255,255,0);
}

form{
  text-decoration: none;
  color: #000;
  background-color: #35465C;
  display: block;
  height: 15em;
  width: 15em;
  padding: 1em;
}

.item img{
	max-width: 100%;
}

.item input:nth-of-type(1){
  font-size: 30px;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 10px;
  font: bold 30px Arial;
}

.item input:nth-of-type(2){
  margin-top: 10px;
  padding-bottom: 20px;
  font: 16px Arial;
}

.item input:nth-of-type(6){
  display: inline-block;
}

.item input:nth-of-type(2){
  margin-top: 10px;
  padding-bottom: 20px;
  font: 16px Arial;
}

.item input:nth-of-type(8){
  margin-top: 10px;
  padding: 10px;
  color: white;
  background-color: #c95353;
  border-radius: 3px;
  font: bold 16px Arial;
  transition: all ease 0.2s;
}

.item input:nth-of-type(8):hover{
  background-color: #ab4646;
}

.item .submit{
	width: 100px;
	height: 38px;
  padding: 10px;
	background-color: #539bc9;
  border-radius: 3px;
  width: 100%;
  margin-top: 10px;
  transition: all ease 0.2s;
}

.item .submit:hover{
  background-color: #4582a8;
}

.item .checkbox{
  position: relative;
  right: 2px;
  width: 15px;
}

.item .priority{
  position: relative;
  right: 141px;
  width: 15px;
}

.item .done{
  position: relative;
  right: 141px;
  width: 15px;
}

.item{
  text-decoration: none;
  color: #000;
  background-color: white;
  display: block;
  margin: 10px;
  padding: 20px;
  width: 300px;
  float: left;
  border-radius: 3px;
  height: auto;
}

#priority{
  display: block;
}

#priority::after{
  content: "priority";
  position: relative;
  left: 18px;
  bottom: 2px;
}

.priority{
  display: block;
}

.priority::after{
  content: "priority";
  position: relative;
  left: 18px;
  bottom: 2px;
}

.done::after{
  content: "done";
  position: relative;
  left: 18px;
  bottom: 2px;
}

.itemdone{
  background-color: #e9ffdb;
}

.itemOverdue{
  background-color: #ffdbdd;
}

#register{
  display: inline-block;
  width: 300px;
}

#register input{
  height: 50px;
  width: 300px;
  font-size: 20px;
  border: 0px;
  background-color: white;
}

#register input:nth-child(1){
  border-radius: 3px 3px 0px 0px;
  border-bottom: 1px solid #e3e3e3;
  display: inline-block;
  padding-left: 10px;
}

#register input:nth-child(2){
  border-radius: 0px 0px 3px 3px;
  padding-left: 10px;
}

#register input:nth-child(3){
  background-color: #539bc9;
  color: white;
  position: relative;
  top: 20px;
  transition: all ease 0.2s;
}

#register input:nth-child(3):hover{
  background-color: #4582a8;
}

h1{
  text-align: center;
}
