<!DOCTYPE>
	<html>
		<head>
			<title>TODOLR</title>
			<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
		</head>
		<body>

			<div id="header">
				<img src="images/logo.png"/>
				<ul>
					<li><input type="button" class="submit" value="About TODOLR"/></li>
					<li><input type="button" class="submit" value="About us"/></li>
					<li><input type="button" class="submit" value="Contact"/></li>
					<li><input type="button" class="submit" value="Log in"/></li>
				</ul>
			</div>

			<form id="register">
			  <input type="text" class="register" placeholder="Email"/>
			  <input type="text" class="register" placeholder="Password"/>
			  <input type="submit" value="Register"/>
			</form>

		</body>
</html>
